.main {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 6rem;
  min-height: 100vh;
  width: 90%;
  font-size: 1.5em;
}
.main * {
  margin-top: 10px;
}
.main code {
  display: block;
  word-wrap: break-word;
  padding: 3px 3px 2px 15px;
  font-size: 14px;
  line-height: 20px;
  border-left: 20px solid #161616;
  border-bottom: 5px solid #161616;
  background-color: #333;
  font-family: arial;
  color: #f7f7f7;
}
.main p {
  margin-top: 30px;
}
.main h5 {
  margin-left: 5px;
  color: #333;
}
.main pre {
  width: 90%;
  background-color: darkgrey;
  margin: 5px 30px 0px 30px;
}
