.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 50vh;
  background-color: rgb(33, 33, 37);
}
.form input {
  height: 50px;
  border-radius: 5%;
  font-size: 1em;
  width: 100%;
}
.form button {
  height: 50px;
  border-radius: 5%;
  font-size: 1em;
  width: 100%;
}
.form label {
  color: darkred;
}
